<section class="panel groups cg-scrollable">
    <header class="split">
      <h3>{{localize "PF2ECG.APP.HEADER.tags"}}</h3>
      <i data-action="resetTags" data-tooltip="{{localize "PF2ECG.APP.BUTTON.resetFilters"}}" class="button fas fa-arrows-rotate-reverse"></i>
    </header>
    {{#each tagGroups as |group|}}
      <fieldset data-group="{{key}}" class="filters tags collapsible" data-collapsed="{{group.collapsed}}" {{#if group.collapsed}}data-action="collapseGroup"{{/if}}>
        <legend data-action="collapseGroup" data-group="{{key}}">
          <i class="button fa-solid {{#if group.collapsed}}fa-caret-right{{else}}fa-caret-down{{/if}}"></i>
          {{localize (concat "PF2ECG.TAGS." group.key ".label")}}
        </legend>
        {{#if groups}}
          {{#each groups as |subcategory|}}
            <div class="subcategory">
              {{#if (eq @index 0)}}{{else}}<h4>{{subcategory.key}}</h4>{{/if}}
              {{#each subcategory.tags as |tag|}}
                <button type="button" data-action="toggleTag" data-tag="{{tag}}" data-group="{{../key}}" class="tag">{{tag}}</button>
              {{/each}}
            </div>
          {{/each}}
        {{else}}
          {{#each tags as |tag|}}
            <button type="button" data-action="toggleTag" data-tag="{{tag}}" data-group="{{../key}}" class="tag">{{tag}}</button>
          {{/each}}
        {{/if}}
      </fieldset>
    {{else}}
      {{{localize "PF2ECG.APP.HINT.noDataFound"}}}
    {{/each}}
</section>
